@import "~styles/brand";

$header-bg: rgba($white, 0.95);
$header-bg: none;

.Header {
  user-select: none;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: $header-bg;
}

.Header__username {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}
.Header__logo-link {
  &:hover .Header__logo {
    transform: rotate(-45deg);
  }
}
.Header__logo {
  font-size: 2rem;
  margin-right: $spacer;
  transition: all 0.1s ease-out;
}
