@import "~styles/brand";

.Tags {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -$spacer;
}
.Tags__item {
  margin: 0 $spacer $spacer 0;
  background-color: $gray-200;
  padding: $spacer/2 $spacer * 2;
  border-radius: $border-radius-sm;
}
